<div class="map-shell">
    <h2 class="d-none">Карта</h2>
    <div class="map" id="mapContacts"></div>
</div>
<script>
    (() => {
        let arDataContact = {
            yandexMapID: 'mapContacts',
            zoom: 12,
            center: { 'lat': 47.227483, 'lng': 39.716666 },
            points: [
                {
                    position: {
                        lat: 47.227483,
                        lng: 39.716666,
                    },
                    hint: 'Леонтьевский переулок, дом 5/1'
                },
            ]
        };
        ymaps.ready(function () {
            initYandexMap(arDataContact)
        });
    })();
</script>
