<div class="catalog">
    <div class="catalog__col">
        <div class="catalog__info">
            <img class="catalog__info-img" src="/static/img/content/catalog/catalog.jpg" alt="Доменико Гирландайо">
            <h3 class="catalog__info-name">
                Доменико Гирландайо
            </h3>
            <span class="catalog__info-date"> 2 июня 1448 — 11 января 1494.</span>
            <p class="catalog__info-desc">
                Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в
                течение года овладевал профессиональными навыками. Автор фресковых циклов, в которых выпукло, со
                всевозможными подробностями показана домашняя жизнь библейских персонажей (в их роли выступают знатные
                граждане Флоренции в костюмах того времени).
            </p>
        </div>
        <div class="catalog__slug catalog__slug--large d-none">
            <div class="catalog__slug-img">
                {{Icon iconName="slug"}}
            </div>
            <div class="catalog__slug-content">
                <div class="catalog__slug-title">Здесь пока пусто</div>
                <div class="catalog__slug-subtitle">А в галерее вы всегда можете найти что-то интересное
                    для себя</div>
                <a href="#" class="catalog__slug-link">В галерею</a>
            </div>
        </div>
    </div>
    <div class="catalog__col">
        <div class="catalog__items accordion" id="catalogAccordion">
            <div class="accordion-item">
                <div class="accordion-header" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne" role="definition">
                    C 1400 по 1499 гг.
                    <div class="catalog__items-icon">
                        {{Icon iconName="arrowDown"}}
                    </div>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#catalogAccordion">
                    <div class="accordion-body">
                        <div class="catalog__items-list">
                            <a data-target="p2" href="" class="catalog__items-link">Бенедетто ди Биндо</a>
                            <a data-target="p1" href="" class="catalog__items-link">Бергоньоне, Амброджо</a>
                            <a data-target="p3" href="" class="catalog__items-link">Биссоло, Франческо</a>
                            <a data-target="p3" href="" class="catalog__items-link">Больтраффио, Джованни</a>
                            <a data-target="p3" href="" class="catalog__items-link">Бонсиньори, Франческо</a>
                            <a data-target="p2" href="" class="catalog__items-link">Боттичини, Рафаэлло</a>
                            <a data-target="p1" href="" class="catalog__items-link">Брамантино</a>
                            <a data-target="p3" href="" class="catalog__items-link">Бреа, Людовико</a>
                            <a data-target="p3" href="" class="catalog__items-link">Бьяджо д’Антонио Туччи</a>
                            <a data-target="p3" href="" class="catalog__items-link">Веккьетта</a>
                            <a data-target="p2" href="" class="catalog__items-link">Андреа Верроккьо</a>
                            <a data-target="p1" href="" class="catalog__items-link">Доменико Гирландайо</a>
                            <a data-target="p3" href="" class="catalog__items-link">Беноццо Гоццоли</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo" role="definition">
                    C 1500 по 1599 гг.
                    <div class="catalog__items-icon">
                        {{Icon iconName="arrowDown"}}
                    </div>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#catalogAccordion">
                    <div class="accordion-body">
                        <div class="catalog__items-list">
                            <a data-target="p2" href="" class="catalog__items-link">Бенедетто ди Биндо</a>
                            <a data-target="p1" href="" class="catalog__items-link">Бергоньоне, Амброджо</a>
                            <a data-target="p3" href="" class="catalog__items-link">Биссоло, Франческо</a>
                            <a data-target="p3" href="" class="catalog__items-link">Больтраффио, Джованни</a>
                            <a data-target="p3" href="" class="catalog__items-link">Бонсиньори, Франческо</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapse3"
                    aria-expanded="true" aria-controls="collapseTwo" role="definition">
                    C 1600 по 1699 гг.
                    <div class="catalog__items-icon">
                        {{Icon iconName="arrowDown"}}
                    </div>
                </div>
                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#catalogAccordion">
                    <div class="accordion-body">
                        <div class="catalog__slug">
                            <div class="catalog__slug-squart">
                                <span></span>
                            </div>
                            <div class="catalog__slug-content">
                                <div class="catalog__slug-title">Здесь пока пусто</div>
                                <div class="catalog__slug-subtitle">А в галерее вы всегда можете найти что-то интересное
                                    для себя</div>
                                <a href="#" class="catalog__slug-link">В галерею</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapse4"
                    aria-expanded="true" aria-controls="collapseTwo" role="definition">
                    C 1700 по 1799 гг.
                    <div class="catalog__items-icon">
                        {{Icon iconName="arrowDown"}}
                    </div>
                </div>
                <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#catalogAccordion">
                    <div class="accordion-body">
                        <div class="catalog__slug">
                            <div class="catalog__slug-squart">
                                <span></span>
                            </div>
                            <div class="catalog__slug-content">
                                <div class="catalog__slug-title">Здесь пока пусто</div>
                                <div class="catalog__slug-subtitle">А в галерее вы всегда можете найти что-то интересное
                                    для себя</div>
                                <a href="#" class="catalog__slug-link">В галерею</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapse6"
                    aria-expanded="true" aria-controls="collapseTwo" role="definition">
                    C 1800 по 1899 гг.
                    <div class="catalog__items-icon">
                        {{Icon iconName="arrowDown"}}
                    </div>
                </div>
                <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#catalogAccordion">
                    <div class="accordion-body">
                        <div class="catalog__slug">
                            <div class="catalog__slug-squart">
                                <span></span>
                            </div>
                            <div class="catalog__slug-content">
                                <div class="catalog__slug-title">Здесь пока пусто</div>
                                <div class="catalog__slug-subtitle">А в галерее вы всегда можете найти что-то интересное
                                    для себя</div>
                                <a href="#" class="catalog__slug-link">В галерею</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapse7"
                    aria-expanded="true" aria-controls="collapseTwo" role="definition">
                    C 1900 по 1999 гг.
                    <div class="catalog__items-icon">
                        {{Icon iconName="arrowDown"}}
                    </div>
                </div>
                <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#catalogAccordion">
                    <div class="accordion-body">
                        <div class="catalog__slug">
                            <div class="catalog__slug-squart">
                                <span></span>
                            </div>
                            <div class="catalog__slug-content">
                                <div class="catalog__slug-title">Здесь пока пусто</div>
                                <div class="catalog__slug-subtitle">А в галерее вы всегда можете найти что-то интересное
                                    для себя</div>
                                <a href="#" class="catalog__slug-link">В галерею</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapse5"
                    aria-expanded="true" aria-controls="collapseTwo" role="definition">
                    C 2000 г.
                    <div class="catalog__items-icon">
                        {{Icon iconName="arrowDown"}}
                    </div>
                </div>
                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#catalogAccordion">
                    <div class="accordion-body">
                        <div class="catalog__slug">
                            <div class="catalog__slug-squart">
                                <span></span>
                            </div>
                            <div class="catalog__slug-content">
                                <div class="catalog__slug-title">Здесь пока пусто</div>
                                <div class="catalog__slug-subtitle">А в галерее вы всегда можете найти что-то интересное
                                    для себя</div>
                                <a href="#" class="catalog__slug-link">В галерею</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
