<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a href="/" class="footer__logo">
                {{Icon iconName="logo"}}
            </a>
            <div class="footer__socials">
                <a href="#" class="footer__socials-item">
                    {{Icon iconName="vk-f"}}
                </a>
                <a href="#" class="footer__socials-item">
                    {{Icon iconName="instagram"}}
                </a>
                <a href="#" class="footer__socials-item">
                    {{Icon iconName="fb-f"}}
                </a>
            </div>
        </div>
    </div>
</footer>
