.hero {
    min-height: 700px;
    position: relative;
    display: flex;
    @include respond-to(xl) {
        min-height: 668px;
    }
    @include respond-to(md) {
        min-height: initial;
        min-height: 315px;
    }
    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        overflow: hidden;
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .swiper {
            height: 100%;
            &-slide-active,
            &-slide-duplicate-active {
                .hero__slider-img {
                    transform: scale(1.1);
                }
            }
        }
        &-img {
            transition: all 15s linear;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #fff;
        max-width: 600px;
        padding-top: 133px;
        @include respond-to(xl) {
            padding-top: 105px;
        }
        @include respond-to(md) {
            align-items: center;
            text-align: center;
            padding-top: 30px;
            max-width: initial;
        }
    }
    &__title {
        @include font-size-get('h1');
        font-weight: 700;
        margin-bottom: 0px;
    }
    &__text {
        @include font-size-get('p1');
        font-weight: 700;
        margin-top: 12px;
        @include respond-to(md) {
            font-weight: 400;
        }
    }
    &__btn {
        margin-top: 92px;
        @include respond-to(md) {
            margin-top: 36px;
        }
    }
}
