<div class="news">
    <div class="swiper swiper--news">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="news__card">
                        <img src="/static/img/content/news/news.jpg" alt="Книжная гравюра в живом восприятии" class="news__card-img">
                        <div class="news__card-content">
                            <div class="news__card-date">Музей им. Щусева <br>
                                с 20 марта по 30 апреля</div>
                            <div class="news__card-name">Книжная гравюра в живом восприятии</div>
                            <div class="news__card-text">Один из ведущих флорентийских художников Кватроченто, основатель
                                художественной династии, которую продолжили его брат Давид и сын Ридольфо.</div>
                            <a href="#" class="news__card-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news__card">
                        <img src="/static/img/content/news/news1.jpg" alt="«Открытая дискуссия»." class="news__card-img">
                        <div class="news__card-content">
                            <div class="news__card-date">ММОМА <br>
                                24 марта 19:00</div>
                            <div class="news__card-name">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</div>
                            <div class="news__card-text">Высокий уровень вовлечения представителей целевой аудитории
                                является четким доказательством простого факта.</div>
                            <a href="#" class="news__card-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news__card">
                        <img src="/static/img/content/news/news2.jpg" alt="Выставка «Формация 2020»" class="news__card-img">
                        <div class="news__card-content">
                            <div class="news__card-date">Еврейский музей <br>
                                с 31 марта по 21 апреля</div>
                            <div class="news__card-name">Выставка «Формация 2020»</div>
                            <div class="news__card-text">Идейные соображения высшего порядка, а также современная
                                методология разработки играет важную роль в формировании глубокомысленных рассуждений.</div>
                            <a href="#" class="news__card-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news__card">
                        <img src="/static/img/content/news/news3.jpg" alt="Джон Винзор." class="news__card-img">
                        <div class="news__card-content">
                            <div class="news__card-date">ММАМ <br>
                                с 8 апреля по 20 мая</div>
                            <div class="news__card-name">Джон Винзор. Фотографии из серии «Метафора серебра»</div>
                            <div class="news__card-text">Один из ведущих флорентийских художников Кватроченто, основатель
                                художественной династии, которую продолжили его брат Давид и сын Ридольфо.</div>
                            <a href="#" class="news__card-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news__card">
                        <img src="/static/img/content/news/news4.jpg" alt="XXIV Международная биеннале молодого искусства" class="news__card-img">
                        <div class="news__card-content">
                            <div class="news__card-date">Третьяковка на Крымском валу <br>
                                с 30 марта по 30 апреля</div>
                            <div class="news__card-name">XXIV Международная биеннале молодого искусства</div>
                            <div class="news__card-text">Внезапно, реплицированные с зарубежных источников, современные
                                исследования.</div>
                            <a href="#" class="news__card-link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="swiper-button-prev swiper-button-prev--light"></div>
        <div class="swiper-button-next swiper-button-next--light"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
