<div class="projects">
    <div class="projects__title">Партнёры проектов:</div>
    <div class="projects__list">
        <div class="swiper swiper--projects">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects1.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects2.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects3.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects4.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects5.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects6.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects7.png" alt="project" class="projects__item-img">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="projects__item">
                        <img src="/static/img/content/projects/projects8.png" alt="project" class="projects__item-img">
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev swiper-button-prev--light"></div>
            <div class="swiper-button-next swiper-button-next--light"></div>
        </div>
    </div>
</div>
