<div class="dropdown">
    <div class="dropdown__title">
        {{title}}
        {{Icon iconName='arrow-drop-down' className="dropdown__arrow"}}
    </div>
    <ul class="dropdown__list">
        <li class="dropdown__list-item">
            <a href="#">
                <img class="dropdown__list-img" src="/static/img/content/dropdown/dropdown.jpg" alt="Тинторетто">
                <span class="dropdown__list-name">
                    Тинторетто
                </span>
            </a>
        </li>
        <li class="dropdown__list-item">
            <a href="#">
                <img class="dropdown__list-img" src="/static/img/content/dropdown/dropdown.jpg" alt="Фридрих">
                <span class="dropdown__list-name">
                    Фридрих
                </span>
            </a>
        </li>
        <li class="dropdown__list-item">
            <a href="#">
                <img class="dropdown__list-img" src="/static/img/content/dropdown/dropdown.jpg" alt="Леонардо">
                <span class="dropdown__list-name">
                    Леонардо
                </span>
            </a>
        </li>
        <li class="dropdown__list-item">
            <a href="#">
                <img class="dropdown__list-img" src="/static/img/content/dropdown/dropdown.jpg" alt="Верроккьо">
                <span class="dropdown__list-name">
                    Верроккьо
                </span>
            </a>
        </li>
        <li class="dropdown__list-item">
            <a href="#">
                <img class="dropdown__list-img" src="/static/img/content/dropdown/dropdown.jpg" alt="Тинторетто">
                <span class="dropdown__list-name">
                    Тинторетто
                </span>
            </a>
        </li>
    </ul>
</div>
